*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    min-height: 1000vh;
    background: rgb(250, 245, 180);
    perspective: 1000px;
    overflow-x: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Gotham Black",bold;
    padding-left: 20px;
    color:rgb(146, 183, 250);
    font-size: 20px;
}

span{
    color:rgb(235, 161, 118); 
}

.header-menu{
    min-height: 20vh;
    background: rgb(250, 245, 180);
    padding:10px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav{
    display: flex;
    text-decoration: none;
    margin-top:10px;
    font-family: "Gotham Black",bold;
}

.menu{
    display: flex;
    padding:25px 0px ;
}
.nav-item{
    display:flex;
    padding:0px 20px;
}

.nav-item a{
    align-items: center;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    color:rgb(146, 183, 250);
    text-decoration: none;
    transition: all 0.5s;
}

.nav-item a:hover{
    color:rgb(88, 89, 189);
    transition: all 0.5s;
}

.nav a::after{
    content:"";
    display: block;
    right: 0px;
    width:0%;
    background: rgb(255, 193, 134);
    height: 4px;
    transition: all 0.5s;
}

.nav a:hover::after{
    width:100%;
    transition: all 0.5s;
}

.description{
    min-height: 40vh;
    background: rgb(250, 245, 180);
}
.description .main{
    display: flex;
    justify-content: center;
    margin: 150px 0px 0px;
    font-family:"Ubuntu", bold;
    font-size: 40px;
    color:rgb(105, 192, 221);
}

.main span{
    padding:0px 12px;
    color:rgb(228, 151, 79);
} 

.description .sub-heading{
    display: flex;
    justify-content: center;
    font-family:"Ubuntu", bold;
    font-size: 20px;
    color:rgb(64, 62, 209);
}

.sub-heading span{
    padding:0px 0.2em;
    color:rgb(131, 129, 255);
}

.description .sub-heading2{
    display: flex;
    justify-content: center;
    font-family:"Ubuntu", bold;
    font-size: 20px;
    color:rgb(209, 187, 62);
}

.sub-heading2 span{
    padding:0px 0.2em;
    color:rgb(255, 129, 129);
}

.sub-heading2 span .a1{
    padding:0px 0.4rem;
    font-size: 15px;
    color:rgba(214, 36, 36, 0.5);
}
.images{
    min-height:40vh;
    min-width: 10vh;
    background:rgb(131, 129, 255);
}

.image1{
    position: relative;
    left:52rem;
    border-radius: 12px;
    height: 30rem;
    width: 30rem;
    transform-style:preserve-3d ;
    box-shadow: 0 30px 30px rgba(0,0,0,0.4);
}
.image-collection{
    display:flex;
}
.image2{
    position: relative;
    top:10rem;
    margin: 0px 3rem;
    border-radius: 12px;
    height: 13rem;
    width: 19rem;
    box-shadow: 0 20px 30px rgba(0,0,0,0.4);
}

.image3{
    position: relative;
    margin-left:37rem;
    top: 7rem;
    border-radius: 12px;
    height: 13rem;
    width: 19rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.4);
}

.images h1{
    position: relative;
    top:3rem;
    font-family: "Gotham",bold;
    font-size:40px;
    letter-spacing: 1.5rem;
    color:rgb(236, 208, 129);

}

.images h1 span{
    color:white;
}
.ui{
    position: relative;
    top:5rem;
}
.detail1{
    display: flex;
    position: relative;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:22px;
    top: 2rem;
    color:white;
}

.detail2{
    display: flex;
    position: relative;
    top:3rem;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:35px;
    color:rgb(248, 214, 118);
}

.detail3{
    display:flex;
    position: relative;
    top:3rem;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:35px;
    color:white;
}

.detail4{
    display:flex;
    position: relative;
    top:4rem;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:22px;
    color:white;
}

.descp1{
    display:flex;
    position: relative;
    top:-20rem;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:22px;
    color:white;
}

.descp2{
    display:flex;
    position: relative;
    font-family: "Gotham",bold;
    font-size:22px;
    margin-left:-60rem;
    color:white;
}
}



@media screen and (max-width: 1200px) {
    body{
        overflow-x: hidden;
    }
    .header-menu{
        min-height: 20vh;
    }
    .description{
        min-height: 20vh;
    }

    .images{
        min-height: 130vh;
    }
    .header-menu{
        display:flex;
        position: relative;
        top:-1rem;
    }

    .container{
        display: block;
        text-align:center;
        position: relative;
        left:-0.49rem;
    }

    .menu{
        display: flex;
        justify-content: center;
    }

    .nav-item{
        display:flex;
        padding: 0px 15px;
        justify-content: space-between;
    }

    .nav-item a{
        padding: 0px -4px;
    }
    .description{
        position: relative;
        top:-7rem;
    }

    .main{
        font-size:20px;
    }

    .images{
        display: block;
    }

    .images h1{
        position: relative;
        font-size:19px;
        top:2rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: 2px;
    }

    .ui .detail1{
        justify-content: center;
        align-items: center;
        text-align: center;
        position:relative;
        top:-2rem;
        left:-1rem;
        font-size: 20px;
    }

    .ui .detail2{
        justify-content: center;
        align-items: center;
        text-align: center;
        position:relative;
        top:-1.5rem;
        font-size: 20px;
        left:-1rem;
    }

    .ui .detail3{
        justify-content: center;
        align-items: center;
        text-align: center;
        position:relative;
        top:-1.3rem;
        font-size: 20px;
        left:-1rem;
    }

    .ui .detail4{
        justify-content: center;
        align-items: center;
        text-align: center;
        position:relative;
        top:0rem;
        font-size: 20px;
        left:-1rem;
    }

    .image1{
        justify-content: center;
        position: relative;
        align-items: center;
        left: 5.6rem;
        top:6rem;
        height:12rem;
        width:12rem
    }

    .image2{
        position: relative;
        align-items: center;
        left: 1.8rem;
        top:8rem;
        height:10rem;
        width:14rem
    }

    .image3{
        display:flex;
        position: relative;
        align-items: center;
        left: -52.2rem;
        top:20rem;
        height:10rem;
        width:14rem
    }
}