@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

.jose300 {
    font: 300,'Josefin Sans', sans-serif;
}
.jose400 {
    font: 400,'Josefin Sans', sans-serif;
}
.jose500 {
    font: 500,'Josefin Sans', sans-serif;
}
.jose600 {
    font: 600,'Josefin Sans', sans-serif;
}
.jose700 {
    font: 700,'Josefin Sans', sans-serif;
}

