*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height:100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

.container{
    color: #fff;
    scroll-snap-type: y mandatory ;
    overflow-y: scroll;
    height:100vh;
}
.box1{
    background: rgb(243, 165, 243);
    color: white;
    height:50vh;
}

.box2{
    background: rgb(149, 245, 248);
    height:80vh;
}

.box3{
    background: rgb(255, 255, 126);
}