@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.intro{
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    background: #E08A07;
    transition: all .5s ease-in-out;
}

.page1{
    min-height: 100vh;
}

.menucontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

ul{
    list-style: none;
    display: flex;
    width: 50rem;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.namecontainer{
    margin-top: 5rem;
    margin-left: 17.5rem;
}

.hello{
    position: absolute;
    font-size: 36rem;
    font-weight: 400;
    top: -2.5rem;
    left: -2.2rem;
    color: #545454;
    opacity: 15%;
}

.varun{
    color: #000000;
    font-size: 5rem;
    position: relative;
    width: 70rem;
    font-weight: 600;
    top:-1.4rem;
}

.name{
    color: #E08A07;
    opacity:70%;
    font-weight: 500;
    letter-spacing: 5px;
}

.passion{
    color:#E08A07;
    font-weight: 500;
}

.page2{
    min-height: 100vh;
    position: relative;
}

.about{
    margin-left: 17.5rem;
}

.title{
    font-size: 3rem;
}

.o{
    font-weight: 400;
}

.profile{
    position: relative;
    left:20rem;
}

.image{
    border-radius: 20rem;
    height: 20rem;
    width: 20rem;
}

.myself{
    text-align: left;
    width: 57rem;
    font-size: 2rem;
    position: relative;
    top:3rem;
}

.page3{
    min-height: 230vh;
    position: relative;
    top:5rem;
}

.work{
    margin-left: 17.5rem;
}

.portfolio{
    position: relative;
    top:2rem;
}
.codepen{
    height: 25rem;
    width: 58rem;
    border-radius: 34px;
    background-color: #FFDBA4;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.codepens{
    font-size: 6rem;
}

.l1{
    background: white;
    height: 25rem;
    width:1rem;
    margin-left: -40rem;
    position: absolute;
}

.l2{
    background: white;
    height: 25rem;
    width:1rem;
    margin-left: -35rem;
    position: absolute;
}

.protfolio{
    position: absolute;
}

.firstproject{
    top:5rem;
    position: relative;
    height: 25rem;
    width: 58rem;
    border-radius: 34px;
    background-color: #F5C06E;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.uidesign{
    top:10rem;
    position: relative;
    height: 25rem;
    width: 58rem;
    border-radius: 34px;
    background-color: #F5C06E;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag4{
    position: relative;
    min-height: 20vh;
    background: #000000;
}

.contact{
    color: white;
    left:1.5rem;
    position: relative;
}

.header{
    font-weight: 300;
}

ion-icon{
    top:10px;
    position: relative;
    font-size: 2rem;
}

.email{
    position: absolute;
    top:2.7rem;
    left:3rem;
}

.insta{
    position: relative;
    top:4rem;
    left:-2.2rem;
}

.code{
    position: relative;
    top:4rem;
    left:-1rem;
}

.email{
    font-weight: 300;
}

.drib{
    position: relative;
    top:4rem;
}