@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto&display=swap');

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    @include center();
    height: 100vh;
    font-family: 'Poppins', sans-serif;

    .heightconvertor {
        height: 30rem;
        width: 30rem;
        box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.2),
            inset 4px 0px 20px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        @include center();

        .equal{
            cursor: pointer;
        }
        .heighttext {
            position: absolute;
            top: 9rem;
            color: rgb(255, 193, 111);
        }

        input {
            width: 7rem;
            height: 7rem;
            border-radius: 1rem;
            box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.2),
                inset 4px 0px 20px rgba(0, 0, 0, 0.2);
            border: none;
            margin: 2.5rem;
            padding-left: 1rem;
            font-size: 2rem;
        }
        .inputconverted{
            width: 7rem;
            height: 7rem;
            border-radius: 1rem;
            box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.2),
                inset 4px 0px 20px rgba(0, 0, 0, 0.2);
            border: none;
            margin: 2.5rem;
            padding-left: 1rem;
            font-size: 2rem;
            @include center();
        }
        .equal{
            font-size: 4rem;
            color: rgb(87, 87, 87);
        }
        #heightmeasurement{
            position: absolute;
            top: 25rem;
            left:38.5%;
            border: none;
        }

        .heightmeasurement {
            position: absolute;
            top: 25rem;
            left: 55.5%;
            border: none;
        }

    }
}
