@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Catamaran', sans-serif;

    .firstpage {
        .title{
            position:absolute;
            top:15em;
            .header{
                position: absolute;
                left:10em;
            }
            .sub-title{
                position: relative;
                left:20em;
                top:4em;
                letter-spacing:15px;
                opacity: 40%;
            }
        }

        .start{
            height:50px;
            width:9em;
            border-radius:20px;
            background: #3F7FE0;
            color: #fff;
            border:none;
            left:19em;
            top:15em;
            position:relative;
            transform:translate(50%,50%);
            font-size: 25px;
        }

        .bomb{
            height:30px;
            width:30px;
            left:31em;
            top:24.5em;
            position:relative;
            transform:translate(50%,50%);
        }
    }

    .page2{
        position: relative;
        .img{
            height: 200px;
            width: 200px;
            border-radius:200px;
            left:32.3em;
            top:40em;
            position:relative;
            transform:translate(50%,50%);
            z-index: 4;
        }

        .circle{
            height:250px;
            width:250px;
            z-index: 2;
            border-radius:250px;
            background:#FFC875;
            left:29.2em;
            top:23.6em;
            position:relative;
            transform:translate(50%,50%);
            animation:circle1 10s ease-in-out infinite;
        }
        .name{
            left:10em;
            top:29em;
            position:absolute;
            transform:translate(50%,50%);
            letter-spacing: 15px;
        }

        .peace{
            left:54em;
            top:58.5em;
            position:absolute;
            transform:translate(50%,50%);
        }

        .learn{
            left:2em;
            top:30em;
            position:absolute;
            transform:translate(50%,50%);
            letter-spacing: 5px;
        }

        .Html{
            height:25em;
            width:20em;
            border-radius: 48px;
            background:#fff;
            box-shadow: 7px 12px 15px 0px rgba(99, 98, 98, 0.3);
            left:-6em;
            top:55em;
            position:absolute;
            transform:translate(50%,50%);
            transition: all .5s ease-in-out;

            .html{
                position:absolute;
                left:3.8em;
                top:.5em;
                letter-spacing: 3px;
            }
            .level1{
                position:absolute;
                top:10.5em;
                left:3.5em;
                letter-spacing: 5px;
                color:#898989;
            }

            .levelred{
                height:13em;
                position: absolute;
                left:9.7em;
                top:7em;
                width:10px;
                border-radius: 5px 5px 0px 0px;
                background:#FF8A8A;
            }

            .graph1{
                height: 2px;
                width:13em;
                background:#000000;
                position: absolute;
                top:20em;
                left:3.5em;
            }

        }

        .Html:hover{
            background:linear-gradient(to left, #fff,rgb(247, 247, 247));
            transition: all 0.5s ease-in-out;
        }

        .css{
            height:25em;
            width:22em;
            border-radius: 48px;
            background:#fff;
            box-shadow: 7px 12px 15px 0px rgba(99, 98, 98, 0.3);
            left:19.5em;
            top:55em;
            position:absolute;
            transform:translate(50%,50%);
            transition: all 0.5s ease-in-out;

            .level2{
                position:absolute;
                top:10.5em;
                left:3.5em;
                letter-spacing: 5px;
                color:#898989;
            }

            .css1{
                position:absolute;
                left:4.3em;
                top:.5em;
                letter-spacing: 3px;
            }

            .levelblue{
                height:10em;
                position: absolute;
                left:9.7em;
                top:10em;
                width:10px;
                border-radius: 5px 5px 0px 0px;
                background:#8AC7FF;
            }

            .graph2{
                height: 2px;
                width:13em;
                background:#000000;
                position: absolute;
                top:20em;
                left:3.5em;
            }
        }

        .css:hover{
            background:linear-gradient(to left, #fff,rgb(247, 247, 247));
            transition: all 0.5s ease-in-out;
        }
        .javascript{
            height:25em;
            width:22em;
            border-radius: 48px;
            background:#fff;
            box-shadow: 7px 12px 15px 0px rgba(99, 98, 98, 0.3);
            left:47em;
            top:55em;
            position:absolute;
            transform:translate(50%,50%);
            transition: all 0.5s ease-in-out;

            .level3{
                position:absolute;
                top:10.5em;
                left:3.5em;
                letter-spacing: 5px;
                color:#898989;
            }

            .js{
                position:absolute;
                left:4.7em;
                top:.5em;
                letter-spacing: 3px;
            }

            .levelyellow{
                height:2em;
                position: absolute;
                left:9.7em;
                top:18em;
                width:10px;
                border-radius: 5px 5px 0px 0px;
                background:#FFE58A;
            }

            .graph3{
                height: 2px;
                width:13em;
                background:#000000;
                position: absolute;
                top:20em;
                left:3.5em;
            }
        }

        .javascript:hover{
            background:linear-gradient(to left, #fff,rgb(247, 247, 247));
            transition: all 0.5s ease-in-out;
        }
        .ui{
            height:25em;
            width:22em;
            border-radius: 48px;
            background:#fff;
            box-shadow: 7px 12px 15px 0px rgba(99, 98, 98, 0.3);
            left:19.5em;
            top:83em;
            position:absolute;
            transform:translate(50%,50%);
            transition: all 0.5s ease-in-out;

            .level4{
                position:absolute;
                top:10.5em;
                left:3.5em;
                letter-spacing: 5px;
                color:#898989;
            }

            .userinterface{
                position:absolute;
                left:4.4em;
                top:.5em;
                letter-spacing: 3px;
            }

            .levelgreen{
                height:15em;
                position: absolute;
                left:9.7em;
                top:5em;
                width:10px;
                border-radius: 5px 5px 0px 0px;
                background:#93FF8A;
            }

            .graph4{
                height: 2px;
                width:13em;
                background:#000000;
                position: absolute;
                top:20em;
                left:3.5em;
            }
        }

        .ui:hover{
            background:linear-gradient(to left, #fff,rgb(247, 247, 247));
            transition: all 0.5s ease-in-out;
        }
    }

    .page3{
        
    }

}


@keyframes circle1 {
    0%,100%{
        background: #FF7575;
    }

    50%{
        background: #75CDFF;
    }

    75%{
        background: #FFC875;
    }
}