$bezier: cubic-bezier(.21,.98,.6,.99);
.frame{
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -10rem;
    margin-top: -10rem;

    .center{
        background: rgb(236, 71, 71);
        height: 20rem;
        width:20rem;
        border-radius: 20px;
        box-shadow: 6px 1px 10px 2px rgba(0, 0, 0, 0.2);

        .circle-1{
            background:#fff;
            border-radius: 50%;
            height: 14rem;
            z-index: 1;
            width:14rem;
            position: absolute;
            top:2.5rem;
            left:3.5rem;
            animation: circle-1 2s $bezier infinite alternate;
            animation-fill-mode: both;
        }
        .circle-2{
            background:rgb(255, 255, 255);
            border-radius: 50%;
            height: 10rem;
            z-index: 2;
            width:10rem;
            position: absolute;
            top:4.5rem;
            left:5.5rem;
            animation: circle-2 2s $bezier infinite alternate;
            animation-fill-mode: both;
        }

        .circle-3{
            z-index: 3;
            background:rgb(255, 255, 255);
            border-radius: 50%;
            height: 5rem;
            width:5rem;
            position: relative;
            top: 7rem;
            left:7.8rem; 
            animation: circle-3 2s  $bezier infinite alternate;
            animation-fill-mode: both;
        }

    }
}

@keyframes circle-1{ 
    0%{ 
        transform: scale(0); 
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    } 
    70%{ 
        transform: scale(0); 
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2); 
    } 
    100%{ 
        box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.3);
        transform: scale(1); 
    } 
} 
@keyframes circle-2{
    0%{
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2); 
    }
    40%{ 
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2); 
    }
    100%{
        transform: scale(1);
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2); 
    }
}

@keyframes circle-3{
    0%{
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2); 
    }
    20%{ 
        transform: scale(0);
        box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2); 
    }
    100%{
        transform: scale(1);
        box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2); 
    }
}
