*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

section{
    min-height: 50vh;

    .hello{
        height:10rem;
        width: 10rem;
        background: #ffff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
}
.circlefall{
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    background-color: aquamarine;
    position: relative;
    top:20rem;
    left: 45rem;
    transform: translate(-50%,-50%);
    z-index: 3;
}
.circleinside{
    height: 44rem;
    width: 100%;
    top:0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
}
